/* Обнуление */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}

a {
	color: #794f45;
}

h1 {
	font-size: 40px;
	line-height: 1;
	margin: 0px 0px 50px 0px;
}

h2 {
	font-size: 30px;
	line-height: 1;
	margin: 0px 0px 20px 0px;
}

ul {
	list-style: none;
}


/* ================= */

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding: 15px;
  background-color: #794f45;

  display: grid;
  align-items: center;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  /* 1 строка / пустое пространство слева(вместо доп.обертки в html), место для лого, место для меню, пустое пространство справа*/
}

.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;

  grid-column: 2 / 3;
}

.header__menu {
  grid-column: 3 / 4;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header__list li {
  margin: 0 0 0 30px;
}

.header__link {
  color: #fff;
  font-size: 18px;
}

@media (min-width) {
 
}

@media (max-width: 550px) {

  .header__list {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .header__list li {
    margin: 0;
  }

  .header__link {
    font-size: 12px;
  }

}


.main {
  padding: 30px 15px;
}

.sidebar {
  padding: 30px 15px;
  margin: 0 0 30px 0;
  background-color: #7a956b;
}

.sidebar__list li {
  padding: 0 0 15px 0;
}

.sidebar__link {
  font-size: 20px;
  color: #fff;
}

.content__gallery {
  margin: 0 0 30px 0;
}


@media (min-width: 992px) {

  .main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }

  .sidebar {
    grid-column: 2 / 3;
    margin: 0;
  }

  .content {
    grid-column: 3 / 4;
    padding: 0 0 0 30px;
  }

}

.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0 0 85% 0;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 767px) {
  
  .gallery__item_big {
    grid-row: span 2;
    grid-column: span 2;
  }

}

.products__items {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto) / 1fr;
}

.products__image {
  position: relative;
  padding: 0 0 90% 0;
  margin: 0 0 20px 0;
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__name {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.products__button {
  padding: 0 20px;
  justify-self: start;

  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 40px;

  color: #fff;
  background-color: #77608d;
}

.footer {
  grid-area: footer;
  padding: 15px;

  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;

  background-color: #77608d;
}

@media (min-width: 550px) {
  .footer__copy {
    grid-column: 2 / 3;
  }
  
  .footer__text {
    text-align: right;
    grid-column: 3 / 4;
  }
}

@media (max-width: 550px) {

  .footer {
    grid-template: 1fr 1fr / 1fr;
    text-align: center;
  }

  .footer__copy {
    order: 2;
  }

  .footer__text {
    order: 1;
  }

}